.why-exist {
  background-color: #e16146;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 60px;
}

.why-exist h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  padding: 0;
  font-size: 60px;
}

.why-exist .comment {
  margin-top: 60px;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
}

.why-exist .problem-solution {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 40px 0 0 0;
}

.why-exist .problem-solution .icon-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.why-exist .problem-solution .icon-wrapper img {
  display: block;
}

.why-exist .problem-solution .header {
  background: #eda865;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
}

.why-exist .problem-solution .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.why-exist .problem-solution .item .problem, .why-exist .problem-solution .item .solution {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 1px solid #eda865;
  border-top: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px;
  text-align: left;
}

.why-exist .problem-solution .item .problem h3, .why-exist .problem-solution .item .solution h3 {
  text-align: left;
  margin: 0 0 10px 0;
}

.why-exist .problem-solution .item .problem ul, .why-exist .problem-solution .item .solution ul {
  margin: 0 0 0 20px;
  list-style-type: disc;
}

.why-exist .problem-solution .item .problem ul li, .why-exist .problem-solution .item .solution ul li {
  margin: 0;
  text-align: left;
}

.why-exist .problem-solution .item .problem {
  padding-right: 80px;
  border-right: none;
}

.why-exist .problem-solution .item .solution {
  padding-left: 80px;
}

.why-exist .problem-solution .item .image-wrapper {
  position: absolute;
  width: 50px;
  height: 50px;
  left: calc(50% - 16px);
  top: calc(50% - 25px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.why-exist .problem-solution .item .number-wrapper {
  position: absolute;
  width: 50px;
  height: 50px;
  left: calc(50% - 25px);
  top: calc(50% - 25px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 40px;
  font-weight: bold;
}
/*# sourceMappingURL=whyexist.css.map */