.why-exist {
  background-color: #e16146;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 60px;

  h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    padding: 0;
    font-size: 60px;
  }

  .comment {
    margin-top: 60px;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
  }

  .problem-solution {
    display: flex;
    flex-direction: column;
    margin: 40px 0 0 0;

    .icon-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;

      img {
        display: block;
      }
    }

    .header {
      background: #eda865;
      display: flex;
      padding: 10px 20px;
      justify-content: space-between;
      text-transform: uppercase;
    }

    .item {
      display: flex;
      position: relative;
      .problem, .solution {
        flex: 1;
        border: 1px solid #eda865;
        border-top: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 20px;
        text-align: left;

        h3 {
          text-align: left;
          margin: 0 0 10px 0;
        }

        ul {
          margin: 0 0 0 20px;
          list-style-type: disc;

          li {
            margin: 0;
            text-align: left;
          }
        }
      }

      .problem {
        padding-right: 80px;
        border-right: none;
      }

      .solution {
        padding-left: 80px;
      }

      .image-wrapper {
        position: absolute;
        width: 50px;
        height: 50px;
        left: calc(50% - 16px);
        top: calc(50% - 25px);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .number-wrapper {
        position: absolute;
        width: 50px;
        height: 50px;
        left: calc(50% - 25px);
        top: calc(50% - 25px);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
        font-weight: bold;
      }
    }
  }

}
